* {
    box-sizing: border-box;
  }

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
    margin: 0px;
    font-weight: 900;
    font-size: 96px;
}

body > div.TopSectionStyle > div > p {
    margin-top: -10px;
    padding-bottom: 20px;
}

.welcome {
    background-color: black;
    text-align: center;
    font-weight: 350;
    font-size: 36px;
    line-height: 1.5;
    outline: solid 3px white;
    /* text-decoration: 2px solid underline; */
    color: white;
    margin-bottom: -37px;
}

span.bold {
    font-size: 40px;
    font-style: italic;
    font-weight: 450;
}

.TopSectionStyle {
    text-align: center;
}

.container {
    margin: 10px auto;
    max-width: 1200px;
}

.question-style {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin: 0;
    padding: 0px;
    letter-spacing: 2px;
    background: linear-gradient(#f7c05c, #f7805c);
    /* background: linear-gradient(0.45turn, #00cdac ,#008085da); */
}

label[for="x1"],
label[for="x2"] {
    padding-inline: 100px;
}

label {
    display: flex;
    align-items: center;
    margin-top: 3px;
    padding: 10px 25px;
    outline: solid 3px black;
    background-color: white;
    letter-spacing: 0px;
}

input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

label:hover {
    transition: 2000ms;
    color:white;
    outline: solid 3px black;
    background-color: black;
}

input[type="radio"]:checked+label {
    color:white;
    outline: solid 3px black;
    background-color: #00cdac;
}

/* -------- odpowiedzi blędne -------- */
input[type="radio"]:checked+label[for="x2"],
input[type="radio"]:checked+label[for="x4"],
input[type="radio"]:checked+label[for="x6"],
input[type="radio"]:checked+label[for="x7"],
input[type="radio"]:checked+label[for="x10"] {
    color:white;
    outline: solid 3px black;
    background-color: red;
}
/* -------- odpowiedzi blędne -------- */

h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px 80px;
    color:white;
    outline: solid 3px white;
    background-color: black;
}

.answear {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 55px;
}

.answear-space {            
    margin-top: 65px;
    margin-bottom: 65px;  
}

.hide {
    display: none;
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    margin-top: 40px;
    margin-bottom: 40px;
    outline: solid 3px black;
    background-color: #f7c05c;
}

.button {
    margin: 80px;
    text-align: center;
}

input[type=submit] {
    background-color: black;
    color: black;
    font-weight: 600;
    font-size: 20px;
    padding: 12px 64px;
    border: none;
    cursor: pointer;
    text-align: center;
    border: 3px solid black;
    transition: all 2s;
}

input[type=submit]:hover {
    border-radius: 80px;
    border: solid 3px white;
    background-color: black;
}

input[type=submit]:active {
    transition: 0ms;
    border-radius: 80px;
    border: solid 3px white;
    background-color: black;
}

@media screen and (max-width: 1300px) {

    h2 {
        font-size: 90px;
        margin-top: 0;
    }

    body > div.TopSectionStyle > div > p {
        padding-bottom: 10px;
    }

    .welcome {
        font-size: 31px;
    }

    h4 {
        font-size: 25px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 5px 80px;
    }

    .question-style {
        font-size: 19px;
    }

    .answear {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    
    .answear-space {            
        margin-top: 45px;
        margin-bottom: 45px;  
    }
    
    input[type=submit] {
        padding: 7px 59px;
    }

}

@media screen and (max-width: 900px) {
    
    h2 {
        font-size: 75px;
        margin-top: 0;
    }

    .container {
        margin-top: 0;
    }

    h4 {
        font-size: 25px;
        margin-top: 40px;
        margin-bottom: 10px;
        padding: 5px 10px;
    }

    label {
        display: flex;
        margin-top: 2px;
        outline: solid 2px black;
    }

    .answear {     
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -3px;
        margin-bottom: -30px;      
    }

    .answear-space {
        margin-top: 10px;
        margin-bottom: -30px;   
    }
    

    label[for="x1"],
    label[for="x2"] {
        padding-inline: 0px;
        display: flex;
        justify-content: center;
    }

    label[for="x1"] {
        grid-column: 1/2;
    }

    label[for="x2"] {
        grid-column: 2/3;
    }

    .button {
        margin-top: 80px;
        margin-bottom: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {

    h2 {
        font-size: 55px;
        margin-top: 0;
    }

    body > div.TopSectionStyle > div > p {
        padding-bottom: 0px;
    }

    .container {
        margin-top: -3px;
    }

    .welcome {
        font-size: 15px;
    }

    h4 {
        font-size: 15px;
    }

    .question-style {
        font-size: 9px;
    }

    span.bold {
        font-size: 20px;

    }

    h2 {
        font-size: 56px;
    }
}

