* {
    box-sizing: border-box;
  }

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
    margin: 0px;
    font-weight: 900;
    font-size: 96px;
}

body > div.TopSectionStyle > div > p {
    margin-top: -10px;
    padding-bottom: 20px;
}


/* .welcome {
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.486);
    line-height: 1.5;
    border:1px solid rgb(0, 0, 0);
} */
.welcome {
    background-color: black;
    text-align: center;
    font-weight: 350;
    font-size: 36px;
    line-height: 1.5;
    outline: solid 3px white;
    /* text-decoration: 2px solid underline; */
    color: white;
    margin-bottom: -37px;
}


span.bold {
    font-size: 40px;
    font-style: italic;
    font-weight: 450;
}

.TopSectionStyle {
    text-align: center;
}

.container {
    margin: 10px auto;
    max-width: 1200px;
}

.question-style {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin: 0;
    padding: 0px;
    letter-spacing: 2px;
    background: linear-gradient(#f7c05c, #f7805c);
    /* background: linear-gradient(0.45turn, #00cdac ,#008085da); */
}




label {
    display: flex;
    align-items: center;
    margin-top: -3px;
    padding: 10px 25px;
    border: solid 3px black;
    background-color: white;
    letter-spacing: 0px;
}

input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

label:hover {
    transition: 2000ms;
    color:white;
    border: solid 3px black;
    background-color: black;
}

input[type="radio"]:checked+label {
    color:white;
    border: solid 3px black;
    background-color: #00cdac;
}

/* odpowiedzi blędne */
input[type="radio"]:checked+label[for="x2"],
input[type="radio"]:checked+label[for="x4"],
input[type="radio"]:checked+label[for="x6"],
input[type="radio"]:checked+label[for="x7"],
input[type="radio"]:checked+label[for="x10"] {
    color:white;
    border: solid 3px black;
    background-color: red;
}
/* odpowiedzi blędne */

h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px;
    color:white;
    outline: solid 3px white;
    background-color: black;
}


.answear {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}




.hide {
    display: none;
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    margin-top: 40px;
    margin-bottom: 40px;

    outline: solid 3px black;
    background-color: #f7c05c;
}


.button {
    margin: 80px;
    text-align: center;
}

input[type=submit] {
    background-color: black;
    color: black;
    font-weight: 600;
    font-size: 20px;
    padding: 12px 64px;
    border: none;
    cursor: pointer;
    text-align: center;
    border: 3px solid black;
    transition: all 2s;
}

input[type=submit]:hover {
    border-radius: 80px;
    border: solid 3px white;
    background-color: black;
}


input[type=submit]:active {
    transition: 0ms;
    border-radius: 80px;
    border: solid 3px white;
    background-color: black;
}






